body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-image: url(Optimized-camera-photography-vintage-lens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 10em;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.col-md-4 {
    margin: 0 auto;
}

ul {
    list-style: none;
}

.results {
    margin-top: 6em;
}

.image {
    width: auto;
    height: 350px;
    border-radius: 0.5em 0.5em 0 0;
}

.desc {
    margin: 0 auto 2em auto;
    color: #faebd7;
    width: 350px;
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
    border-radius: 0 0 0.5em 0.5em;
}

.left {
    text-align: left;
    padding-left: 1em;

}

.right {
    text-align: right;
    padding-right: 1em;

}

.center {
    text-align: right;
}

.top-row {
    padding: 0;
    padding-top: 1em;
}

.bottom-row {
    padding: 0;
}

a {
    font-weight: bold;
}

.btn-success {
    background-color: #6e2f4e;
    border-color: #6e2f4e;
    margin: 2em;
}

.btn-success:hover {
    background-color: #7C435F;
    border-color: #7C435F;
}

#more {
    display: none;
}

@media (max-width: 991px) {
    .center {
        text-align: left;
        padding-left: 1em;
    }
    .right .right {
        text-align: left;
        padding-left: 1em;
    }
}

@media (max-width: 1999px) {
 /* fix overlap */
}
