body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-image: url(camera-photography-vintage-lens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 10em;
}

.container {
    margin: 0;
}

.col-md-4 {
    margin: 0 auto;
}

ul {
    list-style: none;
}

.results {
    margin-top: 8em;
}

.image {
    width: auto;
    height: 350px;
}

.photo-box {
    background-color: darkslategray;
    margin: 1rem 1rem;
    height: 450px;
    padding-top: 15px;
}